<script>
	import { setContext } from 'svelte'
	import { components, Content } from './components'
	import Position from './Position.svelte'
	import Log from './Log.svelte'

	setContext('components', components)

	const content = [
		{
			type: 'paragraph',
			content: 'This is some content'
		}, {
			type: 'list',
			items: [{
				type: 'text',
				content: 'This is some text'
			}, {
				type: 'text',
				content: 'This is some text'
			}, {
				type: 'image',
				source: 'favicon.png',
				alt: 'This is an image'
			}, {
				type: 'image',
				source: 'favicon.png',
				alt: 'This is an image'
			}, {
				type: 'text',
				content: 'This is some text'
			}, {
				type: 'text',
				content: 'This is some text'
			}, {
				type: 'text',
				content: 'This is some text'
			}]
		}
	]
</script>

<main>
	<Position>
		<Content {content} />
	</Position>

	<Log />
</main>

<style>
	main {
		background: white;
		color: black;
		display: block;
		max-width: 42em;
		margin: 20px auto;
		padding: 20px;
	}
</style>