<script context='module'>
  import { writable } from 'svelte/store'

  const actions = writable([])
  function add(action, timer = 1000) {
    actions.update(actions => ([...actions, action]))

    setTimeout(() => {
      actions.update(actions =>
        actions.filter(a => (a !== action))
      )
    },
      timer
    )
  }

  export const position = message => add({ type: 'position', message })
  export const edit = message => add({ type: 'edit', message }, 500)
</script>

<ul>
  {#each $actions as { type, message }}
    <li class={type}>{message}</li>
  {/each}
</ul>


<style>
  ul {
    display: flex;
    flex-flow: column-reverse;
    justify-content: flex-end;

    padding: 0;
    margin: 0;
    list-style: none;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 200px;
    max-height: 100%;
  }
  li {
    background: white;
    margin: .5rem;
    padding: 5px;
  }
  .edit {
    background: rgb(183, 221, 185);
    outline: 5px solid rgb(19, 73, 23);
  }
  .position {
    background: rgb(206, 213, 219);
    outline: 5px solid rgb(90, 90, 168);
  }
</style>