<script>
  import { getContext } from 'svelte'
  const components = getContext('components')
  
  export let props
  export let type
  export let path = []
</script>


{#if components.has(type)}
  <svelte:component this={components.get(type)} {...props}  {path} />
{:else}
  <p>'{type}' not found ({JSON.stringify(props)})</p>
{/if}
