<script>
  import Component from './Component.svelte'
  import { actions } from '../actions'

  export let content

  let input
  let value
  export let path = []
  
  let action = null
  $: if (value) {
    let currentValue = content
    content = actions.insert(content, value)
    value= ''
  }
</script>

<input
  type='text'
  bind:this={input}
  bind:value
  on:keydown={event => {
    if ((event.keyCode === 8) || (event.keyCode === 46)) { // Backspace | Delete
      event.preventDefault()
      event.stopPropagation()
      content = actions.remove(content, {
        word: event.ctrlKey,
        backwards: (event.keyCode === 8)
      })
    } else if (event.keyCode === 13) { // Enter

    } else {
      console.log(event)
    }
  }}
/>

<div on:click={e => input.focus()}>
  {#each content as { type, ...props}, i}
    <Component {type} {props} path={[...path, i]} />
  {/each}
</div>

<style>
  input {
    position: fixed;
    pointer-events: none;
    opacity: 0;
  }

  input:focus + div {
    outline: solid 1px blue;
  }
</style>