<script>
  import { caret } from '../Position.svelte'

  export let source
  export let alt
  export let path = []

  let selected = false

  function whenSelected(isSelected) {
    selected = isSelected
  }
</script>

<img
  class:selected
  use:caret={{ path, whenSelected }}
  src={source}
  {alt}
/>

<style>
  .selected {
    outline: solid 1px black;
  }
</style>