<script>
  import Component from './Component.svelte'
  export let items = []
  export let path = []
</script>

<ul>
  {#each items as { type, ...props }, i}
    <li>
      <Component {type} {props} path={[...path, 'items', i]}/>
    </li>
  {/each}
</ul>