<script>
  import { caret } from '../Position.svelte'
  export let content = ''
  export let path = []
</script>

<p use:caret={{ path, value: content }}>{content}</p>

<style>
  p {
    white-space: pre-wrap;
  }
</style>