<script>
  import { caret } from '../Position.svelte'
  export let content
  export let path
</script>

<span use:caret={{ path: [...path, 'content'], value: content }}>{content}</span>

<style>
  span {
    white-space: pre-wrap;
  }
</style>